@import url(//fonts.googleapis.com/css?family=Shadows+Into+Light);
html,body{
    background-color: #273978;
    margin background-color:  
}
h1,h2{
    font-family: "Shadows Into Light";
    font-size: 34px; 
    font-style: normal;
    text-align: center;
    }